@Html.Hidden("RedirectTo", Url.Action("LoginCompany", "Account"));


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Ingreso de Candidato</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/Tu_Nuevo_Trabajo.ico" rel="icon" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <style>
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3 mt-2 mr-5 ml-5">
            <div class="container">
                <div class="row">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-size:30px;">Tu Nuevo Trabajo</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid justify-content-center col-4" style="border:groove; padding: 40px;margin-bottom:100px;">
        <div class="row justify-content-center" style="margin-bottom:25px;">
            <h3 class="justify-content-center">Ingreso de empresa</h3>
        </div>
        <form>
            <div class="form-group">
                <label for="emailEmp">Correo Electrónico</label>
                <input type="email" class="form-control" id="emailEmp" aria-describedby="emailHelp" required>
                <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu e-mail con nadie.</small>

            </div>
            <div class="form-group">
                <label for="passEmp">Contraseña</label>
                <input type="password" class="form-control" id="passEmp" required>

            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="RecordCheck">
                <label class="form-check-label" for="RecordCheck">Recuérdame</label>
            </div>
            <button type="submit" class="btn btn-primary" id="btnIngresoEmpresa">Ingresar</button>
        </form>
        @*</div>*@
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-controller="Empresa" asp-action="RegistroEmpresa">¿Nuevo por aqui? ¡Regístrate!</a>
    </div>
    <!-- fecha -->
    <!--<div class="col-sm-3 input-group date" data-provide="datepicker">
        <input type="text" id="" class="form-control" placeholder="(Indicar fecha de finalizacion)">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>-->
    <!-- fecha -->


    <footer class="footer">
        <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" asp-controller="Home" asp-action="Index">Tu nuevo trabajo</a>
        </div>
    </footer>

    <!-- datepicker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <!-- datepicker -->

    <script>
        $("#btnIngresoEmpresa").on("click", function () {

            vEmail = $("#emailEmp").val();
            vPass = $("#passEmp").val();


            $.ajax({
                type: "GET",
                url: "Empresa/Validar",
                cache: false,
                data: {
                    email: vEmail,
                    password: vPass
                },
                success: function (response) {
                    if (response) {
                        alert("Credentials accepted");
                        //var url = $("#RedirectTo").val();
                        //location.href = url;
                        var url = $("#RedirectTo").val();
                        location.href = url;
                    } else {
                        alert("Check your credentials");
                    }
                }
            });

            alert("Loading...");

        });


    </script>


</body>
</html>