<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Registro de Candidato</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/Tu_Nuevo_Trabajo.ico" rel="icon" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <style>
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3 mt-2 mr-5 ml-5">
            <div class="container">
                <div class="row">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-size:30px;">Tu Nuevo Trabajo</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid justify-content-center col-8" style="border:groove; padding: 40px; margin-bottom: 100px;">
        <div class="row justify-content-center" style="margin-bottom:25px;">
            <h3 class="justify-content-center">Registro de Empresa</h3>
        </div>
        <hr />
        <form>
            <div class="form-row" style="padding-left:10px">
                <h4><label>Datos de acceso</label></h4>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="emailCand">Correo Electrónico</label>
                    <input type="email" class="form-control" id="emailEmp" value="" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="passCand">Contraseña</label>
                    <input type="password" class="form-control" id="passEmp" required>
                </div>
            </div>
            <div class="form-row" style="padding-left:10px">
                <h4><label>Datos de la Empresa</label></h4>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="nomCand">Nombre Comercial de la Empresa</label>
                    <input type="text" class="form-control" id="nomEmp" value="" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="apeCand">RUC</label>
                    <input type="text" class="form-control" id="rucEmp" value="" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-8 mb-3">
                    <label for="direcEmp">Direccion</label>
                    <input type="text" id="direcEmp" class="form-control" placeholder="">

                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="DepEmp">Departamento</label>
                    <select class="custom-select" id="DepEmp" required>
                        <option selected disabled value="">Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="ProvEmp">Provincia</label>
                    <select class="custom-select" id="ProvEmp" required>
                        <option selected disabled value="">Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="secEmp">Sector Empresarial</label>
                    <select class="custom-select" id="secEmp" required>
                        <option selected disabled value="">Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="desEmp">Descripcion de la Empresa</label>
                    <input type="text" class="form-control" style="padding-bottom:80px" id="desEmp" value="" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-8 mb-3">
                    <label for="pagWeb">Pagina Web de la Empresa</label>
                    <input type="text" id="pagWeb" class="form-control" placeholder="">

                </div>
            </div>
            <div class="form-row" style="padding-left:10px">
                <h4><label>Datos de la persona de Contacto</label></h4>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="nomContact">Nombre</label>
                    <input type="text" class="form-control" id="nomContact" value="" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="telfContact">Telefono</label>
                    <input type="text" class="form-control" id="telfContact" value="" required>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                    <label class="form-check-label" for="invalidCheck2">
                        Estoy de acuerdo con los términos y condiciones
                    </label>
                </div>
            </div>
            <button class="btn btn-primary mb-5" type="submit" id="btnRegistrarEmpresa">Registrar</button>
        </form>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-controller="Candidato" asp-action="index">¿Ya tienes una cuenta? ¡Ingresa!</a>
    </div>
    <footer class="footer fixed-bottom">
        <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" asp-controller="Home" asp-action="Index">Tu nuevo trabajo</a>
        </div>
    </footer>

    <!-- datepicker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <!-- datepicker -->


    <script>


        $("#btnRegistrarEmpresa").click(function () {

            let vEmail = $("#emailEmp").val();
            let vPassword = $("#passEmp").val();
            let vNombre = $("#nomEmp").val();
            let vRUC = $("#rucEmp").val();
            let vDireccion = $("#direcEmp").val();
            let vDescripcion = $("#desEmp").val();
            let vPaginaWeb = $("#pagWeb").val();
            let vNombreContact = $("#nomContact").val();
            let vtelefContact = $("#telfContact").val();
            let vEstado = 'Activo';

            $.ajax({
                type: "POST",
                url: "Grabar",
                cache: false,
                data: {
                    email: vEmail,
                    password: vPassword,
                    razonSocial: vNombre,
                    ruc: vRUC, 
                    referenciaUbigeo: vDireccion,
                    descripcion: vDescripcion,
                    website: vPaginaWeb,
                    contactName: vNombreContact,
                    telefono: vtelefContact,
                    estado: vEstado
                },
                success: function (exito) {
                    if (exito) {
                        alert("Datos registrados");
                        //var url = $("#RedirectTo").val();
                        //location.href = url;
                        //CargarListadoCliente();
                        //$("#modalRegistroCliente").modal("toggle");
                    } else {
                        alert("Hubo un error");
                    }
                }
            });

            alert("loading...");

        });




    </script>


</body>
</html>