@Html.Hidden("RedirectTo", Url.Action("Index", "Candidato"));


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Registro de Candidato</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/Tu_Nuevo_Trabajo.ico" rel="icon" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <style>
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3 mt-2 mr-5 ml-5">
            <div class="container">
                <div class="row">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-size:30px;">Tu Nuevo Trabajo</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid justify-content-center col-4" style="border:groove; padding: 40px; margin-bottom: 100px;">
        <div class="row justify-content-center" style="margin-bottom:25px;">
            <h3 class="justify-content-center">Registro de Candidato</h3>
        </div>
        <form>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="nomCand">Nombres</label>
                    <input type="text" class="form-control" id="nomCand" value="" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="apeCand">Apellidos</label>
                    <input type="text" class="form-control" id="apeCand" value="" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="emailCand">Correo Electrónico</label>
                    <input type="email" class="form-control" id="emailCand" value="" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="passCand">Contraseña</label>
                    <input type="password" class="form-control" id="passCand" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-8 mb-3 date" data-provide="datepicker">
                    <label for="birthCand">Fecha de Nacimiento</label>
                    <input type="text" id="birthCand" class="form-control" placeholder="Indicar fecha de Nacimiento">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
            <div class="form-row" , id="formRadioGenero">
                <div class="form-group col-md-8 mb-3">
                    <div class="row col-md-6">
                        <label for="">Género</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="rbGenero" id="rbMascCand" value="Masculino">
                        <label class="form-check-label" for="rbMascCand">Masculino</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="rbGenero" id="rbFemCand" value="Femenino">
                        <label class="form-check-label" for="rbFemCand">Femenino</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="telefCand">Teléfono</label>
                    <input type="text" class="form-control" id="telefCand" value="" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="zipCand">Código Postal</label>
                    <input type="text" class="form-control" id="zipCand" value="" required>
                </div>
            </div>
            <div class="form-row" id="listDepartamentosCandidato">
                @*<div class="col-md-6 mb-3">
                        <label for="validationDefault04">Departamento</label>
                        <select class="custom-select" id="validationDefault04" required>
                            <option selected disabled value="">Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault05">Provincia</label>
                        <select class="custom-select" id="validationDefault05" required>
                            <option selected disabled value="">Choose...</option>
                            <option>...</option>
                        </select>
                    </div>*@
            </div>
            <div class="form-row" id="formRadioEst">
                <div class="form-group col-md-10 mb-3">
                    <div class="row col-md-10">
                        <label for="">Tienes Estudios?</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioEst" id="siEst" value=1>
                        <label class="form-check-label" for="siEst">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioEst" id="noEst" value=0>
                        <label class="form-check-label" for="noEst">No</label>
                    </div>
                </div>
            </div>
            <div class="form-row" id="formRadioTrabaja">
                <div class="form-group col-md-10 mb-3">
                    <div class="row col-md-10">
                        <label for="">Has trabajado antes?</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioTrab" id="siTrab" value=1>
                        <label class="form-check-label" for="siTrab">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioTrab" id="noTrab" value=0>
                        <label class="form-check-label" for="noTrab">No</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" required>
                    <label class="form-check-label">
                        Estoy de acuerdo con los términos y condiciones
                    </label>
                </div>
            </div>
            <button class="btn btn-primary mb-5" id="btnResgitrarPostulante">Registrar</button>
        </form>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-controller="Candidato" asp-action="index">¿Ya tienes una cuenta? ¡Ingresa!</a>
    </div>
    <footer class="footer fixed-bottom">
        <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" asp-controller="Home" asp-action="Index">Tu nuevo trabajo</a>
        </div>
    </footer>

    <!-- datepicker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <!-- datepicker -->


    <script>

        $("#btnResgitrarPostulante").click(function () {

            let vNombre = $("#nomCand").val();
            let vApellido = $("#apeCand").val();
            let vEmail = $("#emailCand").val();
            let vPassword = $("#passCand").val();
            let vBirth = $("#birthCand").val();
            let vRbGen = $("input[name=rbGenero]:checked", "#formRadioGenero").val();
            let vTelef = $("#telefCand").val();
            let vZip = $("#zipCand").val();
            let vEstudia = (($("input[name=radioEst]:checked", "#formRadioEst").val()) == '1' ? true : false);
            let vTrabaja = (($("input[name=radioTrab]:checked", "#formRadioTrabaja").val()) == '1' ? true : false);
            let vEstado = 'Activo';

            $.ajax({
                type: "POST",
                url: "Grabar",
                cache: false,
                data: {
                    nombre: vNombre,
                    apellido: vApellido,
                    email: vEmail,
                    password: vPassword,
                    fechaNacimiento: vBirth,
                    genero: vRbGen,
                    telefono: vTelef,
                    zipCode: vZip,
                    tieneEstudio: vEstudia,
                    tieneExperiencia: vTrabaja,
                    estado: vEstado
                },
                success: function (exito) {
                    if (exito) {
                        alert("Datos registrados");
                        //var url = $("#RedirectTo").val();
                        //location.href = url;
                        //CargarListadoCliente();
                        //$("#modalRegistroCliente").modal("toggle");
                    } else {
                        alert("Hubo un error");
                    }
                }
            });

            alert("loading...");

        });



        CargarListadoDepartamento();

        function CargarListadoDepartamento() {
            $.ajax({
                type: "GET",
                url: "listadoDepartamentos",
                cache: false,
                success: function (dataHtml) {
                    $("#listDepartamentosCandidato").html(dataHtml);
                }
            });
        }


    </script>

</body>
</html>