<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buscar Ofertas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/Tu_Nuevo_Trabajo.ico" rel="icon" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3 mt-2 mr-5 ml-5">
            <div class="container">
                <div class="row">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-size:30px;">Tu Nuevo Trabajo</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <div class="row justify-content-center" style="margin-bottom:50px;">
        <h3 class="justify-content-center">Buscar Ofertas Laborales</h3>
    </div>

    <a class="btn" >
        <div class="card text-white bg-secondary mb-3 w-50" style="margin-left:100px;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Secondary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </a>

    <div id="container_oferta">

    </div>



    <footer class="footer">
        <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Tu nuevo trabajo</a>
        </div>
    </footer>
</body>
</html>