@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center py-5">
    <h1 class="display-4">Tu nuevo trabajo empieza aqui</h1>
    <p>Es momento de ir por más</p>
</div>


<div class="container py-5">
    <div class="row justify-content-md-center">
        <div class="col-4 pr-1">
            <label for="exampleInputEmail1">¿Qué?</label>
            <input class="form-control mr-sm-2" type="search" placeholder="palabras clave, empresas, areas ..." aria-label="Search">
        </div>
        <div class="col-4 px-1">
            <label for="exampleInputEmail1">¿Dónde?</label>
            <input class="form-control mr-sm-2" type="search" placeholder="ciudad, departamento, region ..." aria-label="Search">
        </div>
        <div class="col-2 d-flex align-items-end pl-1">
            <button class="btn btn-primary my-2 my-sm-0 " type="submit">Buscar oferta</button>
        </div>
    </div>
</div>



